!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
/README
*.o
*.pm.tdy
*.bs

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/pm_to_blib
/*.zip
/YuiRestClient-*
